{% extends 'base.html.twig' %}

{% block title %}Garage Parrot, Bienvenue!{% endblock %}

{% block body %}
<body class="bg-secondary">
    <main class="row justify-content-center">
        <iframe src="{{asset('build/documents/Politique de confidentialité.pdf')}}"
                width="1500" 
                height="1200" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy"  
                frameborder="0">
        </iframe>
    </main>
</body>
{% endblock %}