<aside class="col-lg-3 col-6 mx-3 my-3">
    <article class="card mb-3">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{path('app_user')}}"> Liste des utilisateurs<p></a>
            <p><a href="{{path('app_usermanager')}}"> Gérer les utilisateurs<p></a>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Horaires
        </div>
        <div class="card-body">
            <p><a href="#"> Voir les horaires d'ouverture<p></a>
            <p><a href="#"> Gérer les horaires d'ouverture<p></a>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Services       
        </div>
        <div class="card-body">
            <p><a href="#"> Liste des services<p></a>
            <p><a href="#"> Gérer les services<p></a>
        </div>
    </article>
        <article class="card mb-3">
        <div class="card-header">
            Annonces       
        </div>
        <div class="card-body">
            <p><a href="#"> Liste des annonces<p></a>
            <p><a href="#"> Gérer les annonces<p></a>
        </div>
    </article>
        <article class="card mb-3">
        <div class="card-header">
            Avis clients       
        </div>
        <div class="card-body">
            <p><a href="#"> Liste des avis clients<p></a>
            <p><a href="#"> Gérer les avis clients<p></a>
        </div>
    </article>
</aside>