{% block body %}
  <footer class="footer border-top bg-dark">
    <div class="row d-flex justify-content-center">
        <p class="d-flex justify-content-center hours col-12 mb-0 text-success p-3">Nos horaires d'ouverture</p>
        <ul class="row d-flex justify-content-center text-white">
          {% for horaire in horaires %}
          <li class="d-flex justify-content-center col-12"> {{ horaire.jourSemaine }}: {{ horaire.plageHoraire }}</li>
          {% endfor %}
        </ul>
    </div>
  </footer>
{% endblock %}
