{% block body %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark text-white bg-dark" aria-label="Fifth navbar example">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <a href="/" class="navbar-brand">
            <img src=" {{ asset('build/images/logo_complet_rect.png') }} " width="278" height="100" alt="logo" class="mx-lg-5">
          </a>
          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link mx-lg-3" aria-current="page" href="{{path('app_vehicules/details/all')}}">Véhicules d'occasion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-lg-3" href="{{path('app_entretiens_services')}}">Entretiens et services</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mx-lg-3" href="#" data-bs-toggle="dropdown" aria-expanded="false">Nous contacter</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="tel:0383838282">Par téléphone</a></li>
                  <li><a class="dropdown-item" href="{{path('app_form')}}">Nous écrire</a></li>
                  <li><a class="dropdown-item" href="/#plan-toulouse">Nous localiser</a></li>
                </ul>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-lg-3" href="#">Se connecter</a>
              </li> 
            </ul>
        </div>
      </div>
  </nav>
</header>


{% endblock %}
