{% if is_granted('ROLE_USER') %}
{% include "partials/offcanvasNav.html.twig" %}
    <aside>
        <article class="card mb-3">
            <div class="card-header bg-success">
                Annonces       
            </div>
            <div class="card-body">
                <p>
                    <a href="{{path('user_ad')}}"> Liste des annonces</a>
                </p>
                <p>
                    <a href="{{path('user_ad_manager')}}"> Gérer les annonces</a>
                </p>
            </div>
        </article>
        <article class="card mb-3">
            <div class="card-header bg-success">
                Avis clients       
            </div>
            <div class="card-body">
                <p>
                    <a href="{{path('user_comments')}}"> Liste des avis clients</a>
                </p>
                <p>
                    <a href="{{path('user_comments_manager')}}"> Gérer les avis clients</a>
                </p>
            </div>
        </article>
    </aside>
{% endif %}