{% extends 'base.html.twig' %}

{% block title %}Annonces occasion - Garage Parrot{% endblock %}

{% block body %}
<body class="bg-secondary">
   
    <div class="container-fluid">
        <section class="row justify-content-center">
            <h1 class="col-12 mt-3 p-3 bg-dark text-success shadow-lg rounded mb-5">Détail du véhicule : </h1>

            <h2 class="col-8 mt-3 p-3 bg-success shadow-lg rounded mb-5">{{annonce.titre}}</h2>


        </section>
    </div>
</body>
{% endblock %}
