{% extends 'base.html.twig' %}

{% block title %}Liste des horaires d'ouverture{% endblock %}

{% block body %}
<body class="bg-primary">
    <div class="container">
        <div class="row row-cols-4 justify-content-center">
            {% if is_granted('ROLE_ADMIN') %}
                {% include "partials/adminNav.html.twig" %}
                </aside>
                </div>
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-lg-8 rounded p-2">
                    <h2 class="text-success p-3 border-bottom">Liste des horaires d'ouverture</h2>
                    <div class="table-responsive-md mt-5">
                    <table class="table table-bordered text-white">
                        <thead>
                            <tr>
                                <th scope="col" class="text-success bg-secondary">Jour de la semaine</th>
                                <th scope="col" class="text-success bg-secondary">Plage horaire</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for horaire in horaires %}
                            <tr>   
                                <td>{{horaire.jourSemaine}}</td>
                                <td>{{horaire.plageHoraire}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>
    </div>
</body>
{% endblock %}
