{% extends 'base.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block body %}
<body class="bg-primary">
    <div class="container">
        <div class="row row-cols-4 justify-content-center">
            {% if is_granted('ROLE_ADMIN') %}
                {% include "partials/adminNav.html.twig" %}
                </aside>
                </div>
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-lg-8 rounded p-2">
                    <h2 class="text-success p-3 border-bottom">Liste des services</h2>
                    <div class="table-responsive-md mt-5">
                    <table class="table table-bordered text-white mb-5">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="text-center text-success bg-secondary">Services</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services %}
                            <tr> 
                                <td>{{service.libelle}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table class="table table-bordered text-white">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="text-center text-success bg-secondary">Entretien</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entretien in entretiens %}
                            <tr>
                                <td>{{entretien.libelle}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div>   
        </div>
    </div>
</body>
{% endblock %}
