$primary: #151f67;
$secondary: #154d67;
$success: #e6de01;
$info: #58f544;
$dark: #000000;
$light: #d4d4d4;
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.37);
@import '../../node_modules/bootstrap/scss/bootstrap.scss';


h1, h2, .hours{
    font-family: 'Audiowide', cursive;
}

h1, h2{
    text-align: center;
}

.nav-link.active {
  border-bottom: solid 2px $success;
}

.dropdown-item, .description-welcome, .entretiens-text, .services-text{
    text-align: justify;
    font-family: 'Hind Madurai', sans-serif;
    color: white;
    font-size: 1em;
    font-weight: 700;
}

.address p, .phone-number, .services, ul li{
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bold;
}

ul li{
    list-style: none;
} 
  
  .slide-1,
  .slide-2,
  .slide-3,
  .slide-4,
  .slide-5 {
    margin-left: 20vw;
    background-color: $secondary ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vw;
    width: auto;
  }

  @media screen and (max-width:991px) {
    .slide-1,
    .slide-2,
    .slide-3,
    .slide-4,
    .slide-5 {
    margin-left: 10vw;
    background-color: $secondary ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 75vw;
  }
  }

.connexion{
    height: 25vh;
}

.pagination {
  justify-content: center;
  margin-bottom: 5%;
}

.current{
    font-size: 1.5rem;
    color:#FFC800;
}

.current, .page>a{
  padding-right: 20px;
}

.page>a, .next>a, .last>a, .first>a, .previous>a {
  font-size: 1.5rem;
  color:#aba7a7;
}
.titleCard {
  font-size: 0.98rem;
}
.containerFilters {
  margin-bottom: 10%;
  width: 75%;
  text-align: center;
  margin-left: 15%;
}
.containerFilters > p > label{
  text-align: center;
}

.containerFilters > p {
  margin: 0;
}

@media screen and (min-width: 1025px) {
  .containerFilters{
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 3%;
  }
  .form-label {
    width: 20%;
  }
  .containerFilters > p {
    display: inline;
  }
  .containerFilters > p > label{
    text-align: center;
  }
}
 .emailForm, .passwordForm {
  width: 30%;
}



