$primary: #000C66;
$secondary: #050A30;
$success: #FFC800;
$info: #58f544;
$dark: #000000;
$light: #f2f2f2;
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.37);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';



h1, h2, .carousel-caption, .hours{
    font-family: 'Audiowide', cursive;
}

#carouselExampleAutoPlaying{
    width: 50%;
    margin: auto;
}

.carousel-item{
    width: 100%;
    height: auto;
}

.carousel-caption h2{
    color: red;
}

h1, h2{
    text-align: center;
}

.nav-link, .dropdown-item, .description-welcome, .entretiens-text, .services-text{
    text-align: justify;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1em;
    font-weight: 700;
}

.address p, .phone-number, .services, ul li{
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bold;
}

ul li{
    list-style: none;
    font-size: 0.9em;
}
