$primary: #000c66;
$secondary: #050A30;
$success: #FFC800;
$info: #58f544;
$dark: #000000;
$light: #f2f2f2;
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.37);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';


h1, h2, .carousel-caption, .hours{
    font-family: 'Audiowide', cursive;
}

h1, h2{
    text-align: center;
}

.nav-link, .dropdown-item, .description-welcome, .entretiens-text, .services-text{
    text-align: justify;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1em;
    font-weight: 700;
}

.address p, .phone-number, .services, ul li{
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bold;
}

ul li{
    list-style: none;
    font-size: 0.9em;
} 
  
  .slide-1,
  .slide-2,
  .slide-3,
  .slide-4,
  .slide-5 {
    margin-left: 17vw;
    background-color: $secondary ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 18vw;
    width: auto;
  }

  @media screen and (max-width:991px) {
    .slide-1,
  .slide-2,
  .slide-3,
  .slide-4,
  .slide-5 {
    background-color: $secondary ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 75vw;
  }
  }

.connexion{
    height: 25vh;
}


